@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&family=Mulish:wght@300&display=swap');

.home-container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.1;
}
.home-container-fluid .home-container{
    margin-top: 7rem;
}

.heading-contents h1{
    text-align: center;
    font-family: 'Lora', serif;
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 0.2rem;
    color: #000000;
}
@media screen and (max-width:800px){
    .heading-contents h1{
        font-size: 4rem;
    }
}
@media screen and (max-width:570px)
{
    .heading-contents h1{
        font-size: 3rem;
    }
}
@media screen and (max-width:420px)
{
    .heading-contents h1{
        font-size: 2.5rem;
    }
}
@media screen and (max-width:300px) {
    .heading-contents h1{
        font-size: 1.8rem;
    }
}
.heading-contents h3{
    margin-top: 20px;
    font-family: 'Mulish', sans-serif;
    word-spacing: 7px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
}
@media screen and (max-width:430px) {
    .heading-contents h3{
        font-size: 15px;
        padding: 0px 10px;
    }
}
@media screen and (max-width:300px){
    .heading-contents h3{
        font-size: 15px;
        padding: 0px 10px;
    }
}

.heading-contents h2{
    margin-top: 10px;
   text-align: center;
   color: #000000;
   font-family: 'Lora', serif;
}

.home-container .intro-home-buttons{
    margin: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.home-container .intro-home-buttons .get-started{
    padding: 10px 20px;
    background-color: #222;
    color: rgb(0, 0, 0);
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    &:hover{
      opacity: 0.8;
    }
}

.home-container .intro-home-buttons .Learn-Generative-AI{
    padding: 10px 20px;
    border: 1.2px solid gray;
    font-size: 20px;
    border-radius: 10px;
    background-color: transparent;
    cursor: pointer;

    &:hover{
        opacity: 0.8;
    }
}